body{
	margin: 0px 0px;
	padding: 0px 0px;
	font-family: sans-serif;
}
body::-webkit-scrollbar{
	display: none;
}
.header-wrapper{
	width: 90%;
	align-content: space-between;
	align-items: center;
	margin: 15px auto;
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: repeat(3,1fr);
}
.header-wrapper ul{
	padding: 0px 0px;
}

.header-wrapper ul li{
	display: inline-block;
	padding: 5px 15px;
}

.header-wrapper ul li a{
	text-decoration: none;
	font-size: 17px;
	color: black;
}

.logo span{
	font-size: 23px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.logo{
	text-align: center;
}

.icons{
	text-align: right;
}

.icons img{
	width: 20px;
	height: 20px;
	margin-left: 20px;

}

.banner-wrapper{
	width: 100%;
	position: relative;
}
.banner-wrapper img{
	width: 100%;
}
.banner-wrapper span{
	position: absolute;
	top: 150px;
	left: 30px;
	font-size: 60px;
	font-weight: bold;
	letter-spacing: 1px;
}
.banner-wrapper button{
	width: 130px;
	height: 45px;
	position: absolute;
	top: 320px;
	left: 30px;
	text-transform: uppercase;
	border: none;
	background-color: rgb(50,50,50);
	font-size: 16px;
	color: white;
	letter-spacing: 0.5px;

}
.banner-wrapper button:hover{
	cursor: pointer;
	background-color: white;
	color: rgb(50,50,50);
}

.category-wrapper{
	text-align:center;
	margin-top: 70px;
	width: 100%;
}

.category-wrapper span{
	font-size: 35px;
	font-weight: bold;
}
.category-wrapper p{
	font-size: 18px;
}

.cat-wrapper{
	margin-top: 45px;
	width: 100%;
}
.cat-wrapper a{
	text-decoration: none;
	color: black;
}
.cat-wrapper figure{
	width: 20%;
	display: inline-block;
	margin: 0px 0px;
	margin-right: 20px;
}
.cat-wrapper img{
	width: 100%;
	overflow: hidden;
	height: auto;
}
.cat-wrapper figure figcaption{
	margin-top: 10px;
	letter-spacing: 0.3px;
}
.cat-wrapper figure img{
  	transition: all 0.3s;
	display: block;
}
.cat-wrapper figure img:hover{
	-webkit-transform:scale(1.05);	
}
.highlited-section-wrapper{
	margin-top: 65px;
	position: relative;
}
.highlited-section-wrapper img{
	width: 100%;
}
.highlited-section-wrapper span{
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 30px;
	letter-spacing: 2px;
	font-weight: bold;
}
.highlited-section-wrapper p{
	position: absolute;
	top: 47%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 16;
	letter-spacing: 1px;
	text-align:center;
	width: 100%;
}
.highlited-section-wrapper button{
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	letter-spacing: 1px;
	font-size: 16px;
	width: 150px;
	height:40px;
	border: none;
	background-color: rgb(50,50,50);
	color: white;
	text-transform: uppercase;
}
.highlited-section-wrapper button:hover{
	cursor: pointer;
	background-color: white;
	color: rgb(50,50,50);
}

.collection-wrapper{
	text-align: center;
	margin-top: 80px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.collection-wrapper span{
	font-size: 35px;
	font-weight: bold;
}

.collection-wrapper p{
	font-size: 18px;
}
.collection-wrapper .product-wrapper{
	margin-top: 40px;
}
.collection-wrapper .product-wrapper figure{
	width: 25%;
	display: inline-block;
	position: relative;
}
.collection-wrapper .product-wrapper figure img{
	width: 100%;
	height: auto;
}
.collection-wrapper .know-more-button{
	display: none;
	position: absolute;
	top: 160px;
	left: 25%;
}
.collection-wrapper .product-wrapper figure:hover .know-more-button{
	display: block;
}
.collection-wrapper .product.wrapper figure figcaption{
	margin-top: 10px;
	letter-spacing: 0.3px;
}
.collection-wrapper .product-wrapper figure p{
	font-weight: bold;
}
.collection-wrapper .product-wrapper figure button{
	width: 150px;
	height: 40px;
	font-size: 14px;
	border: none;
	background-color: rgb(50,50,50);
	color: white;
	text-transform: uppercase;
}
.collection-wrapper .product-wrapper figure button:hover{
	background-color: rgb(200,200,200);
	color: black;
	font-weight: bold;
}

.footer-wrapper{
	width: 100%;
	display: block;
	margin-top: 50px;
	background-color: rgba(50,50,50,0.3);
	padding: 40px 0px;
}

.footer-wrapper footer{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	justify-content: space-between;
	display: block;
}
.col-50{
	width: 50%;
	padding: 10px 10px;
	display: inline-block;
	float: left;
	text-align:left;
}
.col-25{
	width: 23%;
	display: inline-block;
	text-align:left;
}
.col-50 .logo-text{
	font-size: 23px;
	font-weight: bold;
	text-transform: uppercase;
	display: block;
	letter-spacing: 5px;
}
.col-50 .sub-text{
	font-size: 16px;
	margin-top: 5px;
	color: rgb(50,50,50);
}
.col-25 ul{
	padding: 0px 0px;
	margin: 0px 0px;
}
.col-25 ul li{
	list-style-type: none;
	margin-bottom: 15px;
}
.col-25 ul li a{
	text-decoration: none;
	color: rgb(50,50,50);
	font-size: 16px;
}
.footer-wrapper hr{
	margin-top: 30px;
	margin-bottom: 30px;
}
.footer-end{
	text-align:center;
}

/*Animations-----------------------------------*/
.highlited-section-wrapper{
	overflow: hidden;
}
.highlited-section-wrapper img{
	-webkit-transition:all 2s;
}
.highlited-section-wrapper:hover img{
	-webkit-transform:scale(1.7);
	filter: blur(5px);
}

.logo-text{
	animation: ChangeColor 5.0s linear infinite;
	color: #b721ff;
}

@keyframes ChangeColor{
	0%{
		color: #21d4fd;
	}
	50%{
		color: #b721ff;
	}
	100%{
		color: #21d4fd;
	}
}